.character-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.character-list {
  width: auto;
  flex-grow: 1;
}

.character-details {
  flex-grow: 3;
}

@media screen and (max-width: 500px) {
  .character-list {
    width: 100%;
  }
}
