<div class="character-container">
  <mat-card class="character-list">
    <mat-card-header>
      <h1>Characters</h1>
    </mat-card-header>
    <mat-card-content>
      <app-character-list></app-character-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="character-list">
    <mat-card-header>
      <h1>Characters</h1>
    </mat-card-header>
    <mat-card-content>
      <app-character-details></app-character-details>
    </mat-card-content>
  </mat-card>

  <mat-card class="character-list">
    <mat-card-header>
      <h1>Characters</h1>
    </mat-card-header>
    <mat-card-content>
      <app-character-list></app-character-list>
    </mat-card-content>
  </mat-card>
</div>
