<button (click)="onClick()" mat-raised-button color="primary" color="primary">
  Load
</button>

<mat-nav-list>
  <a
    mat-list-item
    *ngFor="let item of (characters$ | async).results"
    [routerLink]="['/character/details', item.id]"
  >
    <img
      matListAvatar
      src="https://starwars-visualguide.com/assets/img/characters/{{
        item.id
      }}.jpg"
      alt="{{ item.name }}"
    />
    <h3 matLine>{{ item.name }}</h3>
  </a>
  <mat-nav-list></mat-nav-list
></mat-nav-list>
